@font-face {
  font-family: 'futura';
  src: url('../fonts/Futura-LigObl.otf')
}
@font-face {
  font-family: 'pop';
  src: url('../fonts/851MkPOP_001.ttf')
}

body{
  margin:0;
  text-align: center;
}

a {
  text-decoration: none;
}

.top-image{
  width: 100%;
}

.text{
  font-size: 15px;
  line-height: 40px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.pop-text{
  font-family: pop;
  font-size: 25px;
  color: cornflowerblue;
}

.pop-box{
  position: relative;
  height:50px;
}

.komatta{
  position: absolute;
  right:1.8em;
  bottom:0.8em;
  width: 40px;
}

.yatta{
  position: absolute;
  bottom:0.4em;
  left:4em;
  width: 40px;
}

.red{
  color: #eb0000;
}

.blank{
  padding:10px;
}

.example-case{
  text-align: left;
  font-family: futura;
  font-size: 30px;
  font-weight: bold;
}

.example-case-text{
  text-align: left;
  margin-left: 20px;
  font-size: 15px;
}

.example-box{
  padding: 10px 0px 20px;
}

.example-image-box{
  position: relative;
  margin:0 30px;
}
.good{
  position:relative;
  width: 90%;
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button{
  display: inline-block;
  margin-bottom:2em;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.button-text{
  margin:0.3em;
}

.border{
  width:75%;
  border-bottom: black;
}

.bad {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: auto;
}

.show{
  width:100%;
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.yzkgym-logo {
  display: inline-block;
  margin: 20px 0 0;
  width: 180px;
}

footer{
  text-align: center;
  background-color:#FFE4E1;
}

.footer-session{
  padding-top:20px;
}

.invite-button{
  color:black;
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}

.invite-button::before,
.invite-button::after{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.sankaku::before{
  right: 0;
  width: 4px;
  height: 4px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (min-width: 481px) {
  .pc {
    width: 375px;
    margin-right: auto;
    margin-left : auto;
  }
}